<div class="page-bar">
	<div class="page-title-breadcrumb">
		<div class=" pull-left">
			<div class="page-title">Banners</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="card card-box">
			<div class="card-body ">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6">
						<div class="btn-group">
							<a href="<%= new_admins_banner_path %>" class="btn btn-info">
								Add New <i class="fa fa-plus"></i>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-6">
						<div style="float:right;">
							<%= form_tag admins_banners_url, { :id => "index_search", :method => :get } do %>
								<%= text_field_tag :search, params[:search], :class => "form-control form-control-sm", :placeholder => "Search by description" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="table-wrap" style="margin-top:20px;">
					<div id="index_table" class="table-responsive">
						<%= render 'table' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
