<% @link = Link.find_by_name("event") %>
<div class="brook-call-to-action bg_image--4 ptb--90 ptb-md--80 ptb-sm--60">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 col-12">
				<div class="call-content vertical-call-toaction text-center">
					<h3 class="heading heading-h3"><%= @link.try(:caption) %></h3>
					<div class="spacing"></div>
					<div class="call-btn text-center">
						<a class="brook-btn bk-btn-theme text-theme btn-sd-size btn-rounded" href="<%= @link.try(:url) %>">
							Find out more
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
