<!-- Start Work area -->
<div class="brook-whatdo-area ptb--150 ptb-md--80 ptb-sm--60 bg_image--2">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">
								<div class="section-title text-center wow move-up mb--50">
										<h2>We Are Adria Pratama Mulya Equestrian Center</h2>
								</div>
						</div>
				</div>
				<div class="row align-items-center">
						<div class="col-lg-6">
								<div class="thumb text-center">
										<%= image_tag('about_us.png') %>
								</div>
						</div>
						<div class="col-lg-6 mt_sm--40 mt_md--40">
								<div class="bk-title--default text-left">
										<h5 class="heading heading-h5 theme-color wow move-up">What we do</h5>
										<div class="bkseparator--30"></div>
										<h3 class="heading heading-h3 wow move-up">What Makes APM Equestrian Center Different?</h3>
								</div>
								<div class="row">
										<!-- Start Single -->
										<div class="col-lg-6 col-md-6 col-12">
												<div class="what-do mt--30">
														<div class="content">
																<h5 class="heading heading-h5 wow move-up">APM Equestrian Center</h5>
																<div class="bkseparator--20"></div>
																<p class="bk_pra wow move-up">
																Is an international equestrian center and Riding School located just 15 minutes away from the Tangerang district office in Tangerang, Indonesia. Our riding lessons are guided by professional and experienced instructors with national and international achievements in national and international levels.
																</p>
														</div>
												</div>
										</div>
										<!-- End Single -->

										<!-- Start Single -->
										<div class="col-lg-6 col-md-6 col-12">
												<div class="what-do mt--30">
														<div class="content">
																<h5 class="heading heading-h5 wow move-up">BEC Instructors</h5>
																<div class="bkseparator--20"></div>
																<p class="bk_pra wow move-up">
																	Are all carefully selected based on their Qualifications and previous International experience. Our team of European Instructors are certified and have extensive experience teaching and Managing in Europe and Asia. Let us help you to achieve your goals in your chosen discipline, we have specialty Instructors for Jumping and Dressage and Children specialists for that very first first ride.
																</p>
														</div>
												</div>
										</div>
										<!-- End Single -->
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End Work area -->
