<!-- START REVOLUTION SLIDER -->
<div class="slider-revoluation slider-business">
		<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-business"
				data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
				<!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
				<div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
						<ul>
								<!-- SLIDE  -->
								<li data-index="rs-1" data-transition="boxslide,curtain-1,3dcurtain-horizontal,incube"
										data-slotamount="default,default,default,default,default" data-hideafterloop="0"
										data-hideslideonmobile="off" data-randomtransition="on" data-easein="default,default,default,default,default"
										data-easeout="default,default,default,default,default" data-masterspeed="default,default,default,default,default"
										data-thumb="<%= image_url('banners/banner1.png') %>" data-rotate="0,0,0,0,0"
										data-saveperformance="off" data-title="Slide" data-param1="01" data-param2="" data-param3=""
										data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
										data-param10="" data-description="">
										<!-- MAIN IMAGE -->
										<img src="<%= image_url('banners/banner1.png') %>" alt="" data-bgposition="center center"
												data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
												data-no-retina>
										<!-- LAYERS -->

										<!-- LAYER NR. 1 -->
										<div class="tp-caption     rev_group" id="slide-1-layer-6" data-x="['left','center','left','left']"
												data-hoffset="['150','-53','50','50']" data-y="['middle','top','top','top']"
												data-voffset="['-100','193','150','140']" data-width="['1170','800','511','360']"
												data-height="['198','197','299','299']" data-whitespace="nowrap" data-type="group"
												data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
												data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
												data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
												data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
												data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 1170px; max-width: 1170px; max-width: 198px; max-width: 198px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
												<!-- LAYER NR. 2 -->
												<div class="tp-caption  " id="slide-1-layer-3" data-x="['left','left','left','left']"
														data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','40','40']"
														data-fontsize="['70','50','50','40']" data-lineheight="['78','56','56','45']"
														data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
														data-basealign="slide" data-responsive_offset="off" data-responsive="off"
														data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 70px; line-height: 78px; font-weight: 700; color: #ffffff; letter-spacing: 0px;">
													Lorem Ipsum
												</div>

												<!-- LAYER NR. 3 -->
												<div class="tp-caption tp-shape tp-shapewrapper " id="slide-1-layer-5" data-x="['left','left','left','left']"
														data-hoffset="['440','324','0','0']" data-y="['top','top','top','top']"
														data-voffset="['39','26','0','0']" data-width="68" data-height="5" data-whitespace="normal"
														data-type="shape" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgb(194,116,51);">
												</div>

												<!-- LAYER NR. 4 -->
												<div class="tp-caption  " id="slide-1-layer-4" data-x="['left','left','left','left']"
														data-hoffset="['535','403','0','0']" data-y="['top','top','top','top']"
														data-voffset="['0','3','120','118']" data-fontsize="['70','50','50','40']"
														data-lineheight="['78','56','56','45']" data-width="['603','440','440','360']"
														data-height="['157','none','none','none']" data-whitespace="normal" data-type="text"
														data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 10; min-width: 603px; max-width: 603px; max-width: 157px; max-width: 157px; white-space: normal; font-size: 70px; line-height: 78px; font-weight: 700; color: #ffffff; letter-spacing: 0px;">
													Lorem Ipsum Dolor si Amet
												</div>
										</div>

										<!-- LAYER NR. 5 -->
										<div class="tp-caption smooth-scroll-link rev_group" id="slide-1-layer-14" data-x="['left','left','left','left']"
												data-hoffset="['150','150','-637','-637']" data-y="['bottom','bottom','bottom','bottom']"
												data-voffset="['120','120','427','427']" data-width="172" data-height="36"
												data-whitespace="nowrap" data-visibility="['on','on','off','off']" data-type="group"
												data-actions='' data-basealign="slide" data-responsive_offset="off" data-responsive="off"
												data-frames='[{"delay":1100,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);"}]'
												data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
												data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
												data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
												data-paddingleft="[0,0,0,0]" style="z-index: 11; min-width: 172px; max-width: 172px; max-width: 36px; max-width: 36px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;cursor:pointer;text-decoration: none;">
												<!-- LAYER NR. 6 -->
												<h6 class="tp-caption  " id="slide-1-layer-13" data-x="['left','left','left','left']"
														data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
														data-voffset="['0','0','0','0']" data-width="none" data-height="none"
														data-whitespace="nowrap" data-type="text" data-responsive_offset="off"
														data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 12; white-space: nowrap; font-size: 18px; line-height: 25px; font-weight: 600; color: #ffffff; letter-spacing: 0px;">
														Lorem Ipsum </h6>

												<!-- LAYER NR. 7 -->
												<div class="tp-caption  " id="slide-1-layer-12" data-x="['right','right','right','right']"
														data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
														data-voffset="['0','0','0','0']" data-width="none" data-height="none"
														data-whitespace="nowrap" data-type="image" data-responsive_offset="off"
														data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 13;"><img src="assets/revolution/mouse-icon.png"
																alt="" data-ww="['22px','22px','22px','22px']" data-hh="['36px','36px','36px','36px']"
																data-no-retina> </div>
										</div>

										<!-- LAYER NR. 8 -->
										<div class="tp-caption     rev_group" id="slide-1-layer-7" data-x="['right','right','left','left']"
												data-hoffset="['150','150','50','50']" data-y="['bottom','bottom','top','top']"
												data-voffset="['86','86','400','400']" data-width="245" data-height="110"
												data-whitespace="nowrap" data-type="group" data-basealign="slide"
												data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":1300,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
												data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
												data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
												data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
												data-paddingleft="[0,0,0,0]" style="z-index: 14; min-width: 245px; max-width: 245px; max-width: 110px; max-width: 110px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
												<!-- LAYER NR. 9 -->
												<div class="tp-caption  " id="slide-1-layer-8" data-x="['right','right','right','right']"
														data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
														data-voffset="['0','0','0','0']" data-width="110" data-height="110" data-whitespace="nowrap"
														data-type="text" data-responsive_offset="off" data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 15; min-width: 110px; max-width: 110px; max-width: 110px; max-width: 110px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">

														<!-- Start Single Popup -->
														<div class="video-btn">
																<a class="play__btn" href="https://www.youtube.com/watch?v=9No-FiEInLA">
																		<div class="video-icon third-icon secondary-color"></div>
																</a>
														</div>
														<!-- End Single Popup -->

												</div>

												<!-- LAYER NR. 10 -->
												<h6 class="tp-caption  " id="slide-1-layer-9" data-x="['left','left','left','left']"
														data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
														data-voffset="['0','0','0','0']" data-width="120" data-height="none"
														data-whitespace="normal" data-type="text" data-responsive_offset="off"
														data-responsive="off" data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
														data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]"
														data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']"
														data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
														data-paddingleft="[0,0,0,0]" style="z-index: 16; min-width: 120px; max-width: 120px; white-space: normal; font-size: 18px; line-height: 20px; font-weight: 600; color: #ffffff; letter-spacing: 0px;">
													Lorem Ipsum
												</h6>
										</div>

								</li>
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
		</div>
</div>
<!-- END REVOLUTION SLIDER -->
