<!-- Start Portfolio Details -->
<div class="brook-portfolio-details pt--100 bg_color--1">
		<div class="container bg_color--1">
				<div class="row">
						<div class="col-lg-12">
								<!-- Portfolio Nav List -->
								<div class="portfolio-nav-list pt--100 wow move-up">
										<div class="portfolio-page prev">
												<div class="inner">
														<a href="#">
																<h3 class="heading heading-h3 line-height-1-42 font-blod three">Already <br> Riding</h3>
														</a>
												</div>
										</div>
										<div class="portfolio-page next mt_sm--30">
												<div class="inner">
														<a href="<%= fourth_riding_school_path %>">
																<h3 class="heading heading-h3 font-blod">Horse <br> Owner</h3>
														</a>
												</div>
										</div>
								</div>
								<!-- Portfolio Nav List -->
						</div>
				</div>
		</div>

		<div class="container">
				<div class="row ptb--80">
						<!-- Portfolio Left -->
						<div class="col-lg-4 col-12">
								<div class="portfolio-left bk-portfolio-details">
										<div class="portfolio-main-info">
												<div class="portfolio-content mb--75 mb_md--40 mb_sm--40">
														<div class="desc mt--20">
																<p class="bk_pra">
																	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																</p>
														</div>
												</div>
												<!-- Start Details List -->
												<div class="portfolio-details-list">

														<div class="details-list">
																<label>Lorem</label>
																<span>Lorem Ipsum</span>
														</div>

														<div class="details-list">
																<label>Ipsum</label>
																<span>Lorem Ipsum</span>
														</div>

														<div class="details-list">
																<label>Lorem</label>
																<span>Lorem ipsum dolor sit amet</span>
														</div>

														<div class="details-list">
																<label>Ipsum</label>
																<span>Lorem ipsum dolor sit amet</span>
														</div>

												</div>
												<!-- End Details List -->
										</div>
								</div>
						</div>

						<!-- Portfolio Right -->
						<div class="col-lg-8 col-12 mt_md--40 mt_sm--40 pl--100 pl_md--15 pl_sm--15 pr_md--15 pr_sm--15">
								<div class="portfolio-right portfolio-details-gallery text-center text-md-right">
										<!-- Start Portfolio Image -->
										<div class="portfolio-image mb--50">
											<%= image_tag('liveries/livery1.png', :class => "w-100") %>
										</div>
										<!-- End Portfolio Image -->
								</div>
						</div>

				</div>

				<!-- Start Pricing Plans -->
				<div class="pricing-plans bg_color--1 pt--50 pb--150">
						<div class="container">
								<h3 class="heading heading-h3 text-center yellow-color-2 font-blod">RIDING SCHOOL PRICING</h3>
								<div class="row mt--40">
										<div class="col-lg-12">
														<!-- Cart Table -->
														<div class="ht-pricing-list-view table-responsive">
																<table class="table">
																		<thead>
																				<tr>
																					<th class="pricing-header">
																						<span class="heading-h4">Activities</span>
																					</th>
																					<th class="pricing-header">
																						<span class="heading-h4 theme-color">Weekdays</span>
																					</th>
																					<th class="pricing-header">
																						<span class="heading-h4 theme-color">Weekend</span>
																					</th>
																				</tr>
																		</thead>
																		<tbody>
																				<tr>
																						<td class="price-list">
																								<ul>
																										<li><span>Trial Ride</span></li>
																										<li><span>Pony Ride</span></li>
																										<li><span>Introductory for Visitor (Chief Trainer)</span></li>
																										<li><span>Introductory for Visitor (Senior Trainer)</span></li>
																										<li><span>Introductory for Visitor (Assistant Trainer)</span></li>
																										<li><span>Therapeutic Riding</span></li>
																								</ul>
																						</td>
																						<td class="price-list">
																								<ul>
																									<li><span>Rp. 450.000,-</span></li>
																									<li><span>Rp. 250.000,-</span></li>
																									<li><span>Rp. 850.000,-</span></li>
																									<li><span>Rp. 650.000,-</span></li>
																									<li><span>Rp. 550.000,-</span></li>
																									<li><span>Rp. 550.000,-</span></li>
																								</ul>
																						</td>
																						<td class="price-list">
																								<ul>
																									<li><span>Rp. 400.000,-</span></li>
																									<li><span>Rp. 200.000,-</span></li>
																									<li><span>Rp. 800.000,-</span></li>
																									<li><span>Rp. 600.000,-</span></li>
																									<li><span>Rp. 500.000,-</span></li>
																									<li><span>Rp. 450.000,-</span></li>
																								</ul>
																						</td>
																				</tr>
																		</tbody>
																</table>
														</div>
										</div>
								</div>
								<div class="row mt--40">
										<div class="col-lg-12 text-center">
											<a class="brook-btn bk-btn-red btn-xs-size btn-rounded space-between" href="#">Book a riding lesson</a>
										</div>
								</div>
						</div>
				</div>
				<!-- End Pricing Plans -->

		</div>
</div>
<!-- End Portfolio Details -->
