<!-- start footer -->
<div class="page-footer">
	<div class="page-footer-inner"> &copy; <%= configatron.site_name %> By
		<a href="https://www.galosolutions.com" target="_blank" class="makerCss">Galo Solutions</a>
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- end footer -->
